@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html,

:root {
  --primary-white         : hsl(0, 0%, 100%);
  --primary-black         : hsl(0, 0%, 0%);
  --primary-dark-grey     : hsl(0, 0%, 55%);
  --primary-very-dark-grey: hsl(0, 0%, 41%);

}

body {
  overflow-x       : hidden;
  font-size        : 15px;
  padding          : 0;
  margin           : 0;
  font-family      : 'Josefin Sans', sans-serif;
  /* font-family   : 'Alata', sans-serif; */
}

a {
  color          : inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}