.HeaderMainContainer {
    width          : 100%;
    height         : 50vh;
    position       : relative;
    display        : flex;
    justify-content: center;
}

.HeaderMainContainer img {
    filter : brightness(70%);
    z-index: -1;
}



.HeaderContent {
    width             : 85%;
    color             : whitesmoke;
    padding           : 15px 0;
    display           : flex;
    flex-direction    : column;
    justify-content   : space-between;
    /* z-index        : 100; */
}

.HeaderBar {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
}

.HeaderTitle {
    font-family: 'Alata', sans-serif;
    font-size  : 1.3rem;
    width      : 50%;
}

.HeaderNavList {
    min-width: 50%;
}

.HeaderSlogan {
    font-variant-caps: all-petite-caps;
    padding          : 20px;
    font-size        : 2.5rem;
    height           : 50%;
    text-align       : left;
    max-width        : 350px;
    border           : 2px solid white;
    margin-bottom    : 50px;
}