.MainContainer {
    min-height    : 101vh;
    width         : 100vw;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.Content {
    width           : 85%;
    flex            : 1;
    background-color: aqua;
}

.Footer {
    width           : 100%;
    background-color: aqua;
    height          : 100px;
}




@media(max-width : 900px) {
    .Footer {
        min-height: 60vh;
    }
}